.checkbox-container {
  background-color: rgb(43, 45, 46);
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
}
.checkbox-label {
  display: block;
  cursor: pointer;
  margin-top: 0px;
  display: flex;
  flex-direction: row;
  border-right: 3px solid white;
}
.on,
.off {
  text-align: center;
  max-width: 100px;
  min-width: 60px;
  line-height: 15px;
  padding: 10px;
  overflow-wrap: break-word;
  border: 1px solid rgb(111, 112, 112);
  border-top: none;
  font-size: 1rem;
}

.on {
  opacity: 1;
  opacity: 0.3;
  color: #bdbdbd;
}

.off {
  opacity: 1;
  opacity: 1;
  color: #bdbdbd;
  background-color: black;
}
.checkbox {
  position: absolute;
  left: -5000px;
}

.checkbox:checked + .checkbox-label .on {
  opacity: 1;
  background-color: black;
}
.checkbox:checked + .checkbox-label .off {
  opacity: 0.3;
  background-color: rgb(43, 45, 46);
}
