.checkbox-container {
  background-color: rgb(43, 45, 46);
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
}
.checkbox-label {
  display: block;
  cursor: pointer;
  margin-top: 0px;
  display: flex;
  flex-direction: row;
  border-radius: 20px;
  border: 3px solid #a1a1a1;
}
.on,
.off {
  text-align: center;
  max-width: 100px;
  min-width: 60px;
  line-height: 15px;
  padding: 10px;
  overflow-wrap: break-word;
  border: 1px solid rgb(111, 112, 112);
  border-top: none;
  font-size: 1rem;
}

.on {
  opacity: 1;
  opacity: 0.3;
  color: #bdbdbd;
  border-top-left-radius: 16px;
  border-bottom-left-radius: 16px;
}

.off {
  opacity: 1;
  opacity: 1;
  color: #bdbdbd;
  background-color: black;
  border-top-right-radius: 16px;
  border-bottom-right-radius: 16px;
}
.checkbox {
  position: absolute;
  left: -5000px;
}

.checkbox:checked + .checkbox-label .on {
  opacity: 1;
  background-color: black;
}
.checkbox:checked + .checkbox-label .off {
  opacity: 0.3;
  background-color: rgb(43, 45, 46);
}
