@import '~normalize.css';

@font-face {
  font-family: 'Roboto';
  src: url('./../assets/fonts/Roboto-Regular.ttf') format('truetype');
}

/* * {
  border: 2px solid red;
} */

html {
  font-family: 'Roboto', sans-serif;
  font-size: 14px;
  background-color: rgb(43, 45, 46);
  color: #ffffff;
  height: 100vh;
  width: 100vw;
}
body {
  width: 100vw;
  height: 100vh;
}
*,
*::before,
*::after {
  box-sizing: border-box;
}

/* Убираем внутренние отступы */
ul,
ol {
  padding: 0;
  list-style: none;
  margin: 0;
}

::-webkit-scrollbar {
  background-color: #404040;
  width: 10px;
}
::-webkit-scrollbar-thumb {
  background-color: #525252;
  border-radius: 5px;
}

.main {
  z-index: 0;
}

.section-main {
  display: flex;
  flex-direction: column;
}

.header {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  width: 100%;
  margin: 0 auto;
  margin-bottom: 5px;
  height: 50px;
  background-color: rgba(201, 10, 14, 0.5);
  color: #000000;
}

.header_title {
  margin: 0 auto;
  align-items: center;
}
.first-column {
  align-items: center;
}

.global-cases {
  text-align: center;
  color: #ffffff;
  border: 2px solid #1c1c1c;
  background-color: #1c1c1c;
  border: 1px solid #1c1c1c;
  border-radius: 10px;
  margin: 0px 5px;
}

.global__cases,
.global__header {
  font-size: 2rem;
  margin: 0 auto;
  padding: 10px;
}
.first-column {
  width: 20%;
}
.second-column {
  width: 50%;
}
.third-column {
  width: 30%;
}

@media (min-width: 1000px) {
  .section-main {
    display: flex;
    flex-direction: row;
  }

  .first-column {
    min-width: 380px;
  }
}

.footer {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgba(201, 10, 14, 0.5);
  height: 100px;
  width: 100vw;
  font-size: 14px;
}

.footer_container {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  flex-wrap: wrap;
  width: 1280px;
  /* max-width: 1280px; */
  padding: 0px 10px;
  margin: 0px auto;
}

.github_logo {
  height: 35px;
  width: 35px;
  margin: 5px auto;
}

.github_info {
  display: flex;
  flex-direction: column;
  margin: 0 auto;
}
.github_links,
.year {
  display: flex;
  justify-content: center;
  color: #000000;
}
.github_link {
  text-decoration: none;
  color: #000000;
  align-items: center;
  text-align: center;
  padding: 0 10px;
}

.rs_link {
  margin: 0px auto;
}
.rs_image {
  height: 80px;
  width: 160px;
}
